body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  /* Specific element styles */
  h1 {
    text-align: center;
  }
  
  
  
  /* Table styles (assuming this is used elsewhere) */
  table {
    border-collapse: collapse;
    width: 100%; 
  }
  
  th {
    padding: 10px;
    text-align: left;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .pesquisa,
  button[type="button"] {
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .pesquisa input[type="text"] {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #007bff;
  }