.button {
  line-height: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 10px; /* Alterado de 30px para 10px */
}

.nome {
  text-align: center;
}

.button:hover {
  background-color: #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

.pesquisa,
button[type="button"] {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pesquisa input[type="text"] {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}
